*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}

body {
 background-color: white;   
}

.pai{
    display: flex;
    align-items: center;
    
}

#barra{ 
    height: 75px;
    background-color: #EE4D2D;
}

#marca{
    padding-left: 20px;
    color: white;
    
}

#inicio{
    padding-left: 450px;
    color: white;

}

#solucoes{
    padding-left: 100px;
    color: white;
}

#solucoes:hover {

    background-color: aqua;
    color: grey;
    display: flex;    

}

#divisinha {
    background-color: black;
}



#catalogo{
    padding-left: 100px;
    color: white;
}



#contato{
    padding-left: 100px;
    color:white
}

