*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}

body {
 background-color: white;   
}

.pai{
    display: flex;
    align-items: center;
    
}

#barra{ 
    height: 75px;
    background-color: #EE4D2D;
}

#marca{
    margin-left: 20px;
    color: white;
    
}

#inicio{
    margin-left: 550px;
    color: white;

}

#solucoes {

    margin-left: 75px;
    color: white;
}

#solucoes:hover {
    display: block;
    background-color: aqua;
    color: grey;    

}

.opcoes{
    display: none;
}

#catalogo{
    margin-left: 75px;
    color: white;
}



#contato{
    margin-left: 75px;
    color:white
}

